{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    }
  ],
  "semi": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-solidity"]
}
